{% extends "layout.html" %}

{% block title %}
    Sell Stocks
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select name="symbol">
                <option value="none" selected disabled hidden>Select A Stock</option>
                {% for field in fields %}

                    <option value= {{ field['stock_quote'] }} >{{ field['stock_quote'] }}</option>

                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="username" name="shares" placeholder="Amount of Shares" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>


{% endblock %}
